body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
div.content {
  font-size: 20px;
}

/* Main navigation start */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .active {
  background-color: #4CAF50;
  color: white;
}

.topnav .account {
    float: right;
    display: block;
}
.topnav .icon {
  display: none;
}
.topnav .loggedin {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.account { display: block;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
/* Main navigation end */
/* Home start */
img.homeimg {
    float: left;
    display: block;
    width: 50%;
}
div#home .text {
    float: right;
    display: block;
    width: 40%;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 600px) {
    img.homeimg {
      float: none;
      display: block;
      width: 100%;
    }
    div#home .text {
        float: none;
      display: block;
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 10%;
    }
  }
  
  div.clear {
    clear: both;
  }
/* Home end */

/* About */

ul.mainlist {
  list-style-type: none;
}

ul.mainlist li {
  float: left;
  display: block;
  width: 30%;
  padding: 1%
}
ul.mainlist li img.listimg {
  max-width: 100%;
}

ul.mainlist li .text {
  color: white;
  font-size: 15px;
  padding: 8px 2%;
  position: relative;
  bottom: 8px;
  width: 96%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 700px) {
  ul.mainlist li  {
      width: 46%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  ul.mainlist li  {
      width: 95%;
  }
}
/* About end */
h1 {
  text-align: center; 
  color: #E40B27;
}
h2 {
  text-align: center;
  color: #E40B27;
}
h4, h3 {
  text-align: center; 
  color: #D0E400;
}
a.blueheading {
  display: block;width: 60%;
  margin: auto;
}
a.blueheading:visited, a.blueheading:link {
 background-color: #E40B27;
 color: white;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;

}
a.blueheading:hover, a.blueheading:active {
  background-color: #B22B13;
}


h2.mainheading {
 color: #2EC8E8;
}

h3 {
  color: #EDB22E;
}
ul.list {
  list-style-type: circle;
}
ul.list b span  {
  color: #EDB22E;
}

li.majorlist {
  font-size: 25px ;
  color:#25D918;
}

li.majorlist img {
  width: 50%
}
li.majorlist div {
  display: inline-block;
  width: 35%; 
  height: 40%; 
  margin-left: 5%;
  font-size: 20px ;
  color: black;
}

h5 {
  text-align: center;
  color: #25D918;
}
iframe {
 margin: auto ;
 display: block; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

div#howto {
  margin: 50px 20%;
}

/* Location popup start */
.locationInfo {
  padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
  position: relative;
  z-index: 1;
}
.locationInfo:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
  margin-left: -5px;
}

.locationInfo .image {
	width: 250px;
	height: 250px;
	display: block;
	border-bottom-width: 3px;
	border-bottom-style: solid;
  position: relative;
}
.locationInfo .image img {
  border-radius: 3px 3px 0 0;
  display: block;
  margin: auto;
  max-width: 250px;
  max-height: 250px;
}

.locationInfo p {
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.locationInfo p.species {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 12px;
}

.locationInfo a.action-btn {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.locationInfo .noimage {
  text-align: center;
  font-style: italic;
  margin: 10px
}

/* Location popup end */

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}
/* Login popup */
div#loginPopup {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container .error {
  color: red;
  padding: 5px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, 
.form-container input[type=email]:focus, .form-container select:focus {
  background-color: #ddd;
  outline: none;
}

.form-container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  height: 45px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Image slider */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.slideshow-container .text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}